<!DOCTYPE html>
html(lang="en")
   include ../parcials/head
   body
      include ../components/navbar
      section.container.mx-auto.p-4
         a.py-1.px-3.bg-teal-900.text-white.inline-block.rounded.mb-4(href="/books/add", class="hover:bg-teal-700")
            | Agregar libro
         if books.length !== 0
            ul.grid.grid-cols-1.gap-4(class="sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4")
               each book in books
                  li.shadow-lg.p-4.w-full.border
                     h2.font-semibold #{book.title}
                     p Autor: #{book.author}
                     p ISBN: #{book.isbn}
         else
            p ¡Cuando agreges un libro podrás verlo acá!