nav.shadow-lg.p-4.bg-teal-900.text-white
   ul.container.mx-auto.flex
      li.mr-4
         a(href="/", class="hover:text-teal-200") Home
      li.mr-4
         a(href="/books", class="hover:text-teal-200") Libros